*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

img{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:currentColor;
}

ul{
    list-style: none;
}

.form-holder{
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #8C2B9CD1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.search-form{
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.search-form input{
    border: none;
    width: 90vw;
    height: 30px;
    padding: 10px 40px 10px 10px;
    border-radius: 3px;
}

@media screen and (min-width:480px) {
    .search-form input {
        width: 70vw;
    }
}

@media screen and (min-width:768px) {
    .search-form input {
        width: 30vw;
    }
}

.search-form input:focus{
    outline: 2px solid #EDB0F7;
}

.submit-btn{
    position: absolute;
    right: 0;
    top:0;
    border: none;
    height: 30px;
    width: 30px;
    background-color: #E1E4EA;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    color: #454648;
}

.submit-btn:hover {
    color: #AD0BC8;
}

.is-active{
    color: #ffffff;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 15px;
    height: 15px;
    fill: currentColor
}

.gallery{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-card{
    flex-basis: 100%;
    height: 35vmax;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width:480px) {
    .photo-card {
        height: 35vmin;
        flex-basis: calc((100% - 10px)/2);
    }
}

@media screen and (min-width:768px) {
    .photo-card {
        flex-basis: calc((100% - 20px)/3);
       
    }
}

@media screen and (min-width:1200px) {
    .photo-card {
        flex-basis: calc((100% - 30px)/4);

    }
}

.photo-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FCFCFD;
    padding: 10px;
}

.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}

.load-more{
    display: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #3b5998;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}

.load-more:hover{
    background-color: #A2C0FF;
}

.is-visible{
    display: flex;
}